@tailwind base;
@tailwind components;
@tailwind utilities;



/* General Styles */

:root {
  --some-color: aquamarine
}


body {
  background-color: #f5f5f5;
}

/* // Custom Classes // */

.custom-select {
  overflow-wrap: break-word;
  width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}